.experience {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  gap: 2px;
}

.experience__title {
  background: linear-gradient(180deg, #5badff 0%, #1373d1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 800;
  font-size: 2.2rem;
  margin: 2rem 0;
  text-align: center;
}

.item__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.work-experience,
.academic-experience {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experience__item__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--font-primary-color);
}

.experience__item__role {
  font-size: 1rem;
}

.experience__item__description {
  color: #8491a0;
  font-size: 0.875rem;
}

.experience__item__period {
  color: #8491a0;
  font-size: 0.875rem;
  font-style: italic;
}

.academic-experience__title {
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

.academic-experience__item,
.work-experience__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
