<section class="content-width experience">
  <h1 class="experience__title">TECH RESIDENCY</h1>
  <p class="tech-residency__subtitle">
    The Tech Residency is an advanced talent development program in Information
    Technology created by Porto Digital. It partners with universities to offer
    a hands-on learning experience where students work on real challenges
    presented by tech companies. This immersive model provides dynamic training
    and professional experience, preparing new talent to meet current market
    demands. Check below the companies in which I've engaged.
  </p>
  <div class="work-experience">
    <div class="work-experience__item" *ngFor="let exp of techResidency">
      <div class="item__head">
        <h2 class="experience__item__title">{{ exp.company }}</h2>
        <p class="experience__item__period">{{ exp.period }}</p>
      </div>
      <p class="experience__item__role">{{ exp.role }}</p>
      <p class="experience__item__description">{{ exp.description }}</p>
    </div>
  </div>

  <h1 class="experience__title">EXTRACURRICULUM ACTIVITIES</h1>
  <div class="academic-experience">
    <div class="academic-experience__item" *ngFor="let exp of extracurriculum">
      <div class="item__head">
        <h2 class="experience__item__title">{{ exp.activity }}</h2>
        <p class="experience__item__period">{{ exp.period }}</p>
      </div>
      <p class="experience__item__role">{{ exp.institution }}</p>
    </div>
  </div>

  <h1 class="experience__title">EDUCATION</h1>
  <div class="academic-experience">
    <div class="academic-experience__item" *ngFor="let exp of education">
      <div class="item__head">
        <h2 class="experience__item__title">{{ exp.course }}</h2>
        <p class="experience__item__period">{{ exp.period }}</p>
      </div>
      <p class="experience__item__role">{{ exp.institution }}</p>
    </div>
  </div>
</section>
