<footer>
  <div class="contact-box content-width" id="contact">
    <h2 class="contact-box__title">Contact</h2>
    <p>
      What motivates me? Working in collaborative environments where knowledge
      sharing happens healthily, always striving to create solutions that make a
      difference. I’m looking for new opportunities to grow professionally and
      contribute to innovative projects!
      <br />
      Let's chat? Get in touch with me in English, Portuguese or French:
    </p>
    <a
      class="email-info flex-horizontal"
      href="mailto:marcosfilipe.gc@gmail.com"
    >
      <img src="email.png" alt="email icon" />
      <p>marcosfilipe.gc&#64;gmail.com</p>
    </a>
  </div>
  <div class="contact-box content-width credit-section">
    <p class="credit">
      This website was built by Marcos Filipe Capella, 2025, in Angular 19.
    </p>
    <p class="credit">
      Design created by
      <a
        href="https://www.figma.com/community/file/1308487677104759760/developer-portfolio-website-design"
        >ABM</a
      >
      with modifications.
    </p>
  </div>
</footer>
