<footer>
  <div class="contact-box content-width" id="contact">
    <h2 class="contact-box__title">Contact</h2>
    <p>
      What motivates me? Working in collaborative environments where knowledge
      sharing happens healthily, always striving to create solutions that make a
      difference. I’m looking for new opportunities to grow professionally and
      contribute to innovative projects!
      <br />
      Let's chat? Get in touch with me in English, Portuguese or French:
    </p>
    <a
      class="email-info flex-horizontal"
      href="mailto:dev@marcoscapella.com.br"
    >
      <img src="email.png" alt="email icon" />
      <p>dev&#64;marcoscapella.com.br</p>
    </a>
  </div>
</footer>
