.home {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.frame {
  background: rgb(255, 134, 96);
  background: linear-gradient(
    158deg,
    rgba(255, 134, 96, 1) 40%,
    rgba(154, 51, 255, 1) 100%
  );
  border-radius: 50%;
}

.memoji {
  max-width: 213px;
}

.title {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 63.357px;
  color: var(--font-primary-color);
  text-align: center;
}

.highlight {
  background: linear-gradient(116deg, #ff8660 30%, #9a33ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4rem;
}

p {
  font-weight: 200;
  line-height: 1.5rem;
  text-align: center;
}
