.home {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.frame {
  background: rgb(255, 134, 96);
  background: linear-gradient(
    158deg,
    rgba(255, 134, 96, 1) 40%,
    rgba(154, 51, 255, 1) 100%
  );
  border-radius: 50%;
}

.memoji {
  max-width: 213px;
}

.title {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 63.357px;
  color: var(--font-primary-color);
  text-align: center;
}

.highlight {
  background: linear-gradient(116deg, #ff8660 30%, #9a33ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4rem;
}

p {
  font-weight: 200;
  line-height: 1.5rem;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  justify-items: center;
  margin-top: 2.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2.5rem;
  align-items: center;
}

.stack__title {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
}

.stack__icons {
  display: flex;
  gap: 3.5rem;
}

.stack__icons__item {
  filter: invert(35%) sepia(0%) saturate(1510%) hue-rotate(141deg)
    brightness(97%) contrast(96%);
  width: 48px;
  height: auto;
}
