<section class="content-width home">
  <div class="frame">
    <img class="memoji" src="memoji-fistbump.png" alt="Marcos' memoji" />
  </div>
  <h1 class="title">Hi! I'm Marcos <span class="highlight">Capella</span>!</h1>
  <p>
    I am a front-end developer specialized in Angular, JavaScript/TypeScript,
    and full-stack development with Java Spring Boot. Experienced in academic
    projects and hackathons, database modeling, and user-centered interface
    development (UI/UX). Skilled in agile methodologies and multidisciplinary
    collaboration.
  </p>
  <div class="buttons">
    <app-button
      url="https://marcoscapella.com.br/projects"
      label="Check my portfolio"
      variant="filled"
    ></app-button>
    <app-button
      url="https://www.linkedin.com/in/capella-marcosfilipe"
      label="Visit my LinkedIn"
      variant="outline"
    ></app-button>
  </div>
  <div class="stack">
    <h2 class="stack__title">Experience with:</h2>
    <div class="stack__icons">
      <img
        alt="stack icon for angular"
        src="icons8-angular.svg"
        class="stack__icons__item"
      />
      <img
        alt="stack icon for java"
        src="icons8-java.svg"
        class="stack__icons__item"
      />
      <img
        alt="stack icon for spring boot"
        src="spring-boot.svg"
        class="stack__icons__item"
      />
      <img
        alt="stack icon for react"
        src="icons8-react.svg"
        class="stack__icons__item"
      />
    </div>
  </div>
</section>
