<section class="projects">
  <h1 class="projects__title">PROJECTS</h1>
  <div class="projects__filters">
    <button
      *ngFor="let tech of techFilters"
      class="filter-btn"
      [class.active]="tech === activeFilter"
      (click)="applyFilter(tech)">
      {{ tech }}
    </button>
  </div>

  <div class="projects__search">
    <input
      type="text"
      (keyup)="onSearch($event)"
      placeholder="Or browse my projects by stack"
    />
  </div>
  <div class="projects__cards">
    <app-project-card
      *ngFor="let project of filteredProjects"
      [title]="project.title"
      [link]="project.link"
      [thumbnail]="project.thumbnail"
      [techs]="project.techs"
    >
    </app-project-card>
  </div>
</section>
