<a class="project-card" [href]="link">
  <div class="project-card__content">
    <img [src]="imageUrl" [alt]="title + ' - thumbnail'" />
    <div class="project-card__info">
      <div class="project-card__info__left">
        <span>CLICK HERE TO VISIT</span>
        <h2 class="project-card__title">{{ title }}</h2>
      </div>
      <img
        class="project-card__arrow"
        src="view-arrow.png"
        alt="Linking arrow"
      />
    </div>
    <div class="project-card__techs">
      <div class="project-card__techs__tag" *ngFor="let tech of techs">
        {{ tech }}
      </div>
    </div>
  </div>
</a>
